$detailsBackgroundColor: #fff;
$detailsTextColor: #424242;
$tableBorderColor: #999;

.shield {
	margin: 24px 0;

	aside {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 8px;

		h1 {
			margin: 0;
		}

		.options {
			display: flex;
			gap: 16px;
			
			justify-content: flex-end;
			align-items: center;
	
			svg {
				&:hover {
					opacity: 0.8;
					cursor: pointer;
				}
			}
		}
	}

	.content {
		padding-top: 10px;
	}

	table {
		border-spacing: 0;
    	border-collapse: separate;
		width: 100%;

		td {
			padding: 2px 4px;
			border-top: solid 1px $tableBorderColor;
			border-bottom: solid 1px $tableBorderColor;
			font-size: 13px;

			&:first-child {
				border-right: solid 1px $tableBorderColor;
			}
		}
	}

	.links-container {
		h2 {
			font-size: 16px;
			margin-bottom: 0;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 16px;

			a {
				font-size: 14px;
			}
		}
	}
}

.shields-col-1 {
	display: flex;
	flex-direction: column;
	gap: 8px;

	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 16px;

		.col {
			display: flex;
			flex-direction: column;
			gap: 12px;
			color: $detailsTextColor;
		}

		@media(max-width: 600px) {
			display: flex !important;
			flex-direction: column;
		}
	}

	details {
		background-color: $detailsBackgroundColor;
		border-radius: 10px;
		height: fit-content;

		summary {
			display: flex;
			justify-content: flex-start;
			gap: 16px;
			color: $detailsTextColor;
			
			img {
				width: 60px;
				height: 60px;
				object-fit: contain;
			}

			&:hover {
				background-color: $detailsBackgroundColor;
			}
		}

		.content {
			padding: 8px 24px;

			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
}

.shields-col-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 16px;

	aside {
		grid-column: 1/span 3;
	}

	@media (max-width: 900px) {
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: 600px) {
		display: flex;
		flex-direction: column;
	}
}

.shields-col-5 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 12px;

	aside {
		grid-column: 1/span 5;
	}

	@media (max-width: 900px) {
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: 600px) {
		display: flex;
		flex-direction: column;
	}
}